@import '../../lib/semanticui/site/globals/site.variables.import.less';

thead tr {
  th:not(:last-of-type) {
    &::after {
      font-family: FontAwesome;
      content: '\f0dc';
      color: @purple;
      margin-left: .5rem;
    }
    &.sorting_disabled {
      &::after {
        font-family: FontAwesome;
        content: '\f0dc';
        color: fade(@lightPurple, 50%);
        margin-left: .5rem;
      }
    }
    &.sorting_asc {
      &::after {
        content: '\f160';
      }
    }
    &.sorting_desc {
      &::after {
        content: '\f161';
      }
    }
  }
}
