.ui.small.basic.modal.delete-action
  .ui.icon.header
    i.fa.fa-trash.icon
    | Souhaitez-vous effacer cet enregistrement ?
  .content
    p.text-centered
      i.fa.fa-warning.fa-lg.text-warning
      | Cette action est irréversible.
  .actions
    .ui.cancel.basic.inverted.button
      i.fa.fa-remove.icon
      | Non
    .ui.approve.red.inverted.button
      i.fa.fa-trash-o.icon
      | Je suis sûr(e)

unless Template.subscriptionsReady
  .fadeIn
    +spinner
else
  .fadeIn
    .two.ui.buttons
      a(href='new').ui.icon.button.green.new
        i.fa.fa-plus-circle.icon
        | Ajouter un nouveau document
      button.ui.icon.button.purple.csv
        i.fa.fa-table.icon
        | Extraire la liste des documents
    .ui.divider
    if tableAvailable
      +tabular table=sharedTable class="ui fixed single line celled striped table"
