.sixteen.wide.fields
  .six.wide.field.two.ui.buttons
    a.ui.icon.button(href=cancelUrl)
      i.fa.fa-remove.icon
      | Annuler
    button.ui.icon.button.purple(type='submit')
      if isModify
        i.fa.fa-check.icon
        | Mettre à jour
      else
        i.fa.fa-plus-circle.icon
        | Ajouter le document
  
