// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');
// Share themes variables
@import (reference) url('/packages/client-sharedstyles/client-sharedstyles.less');

.client {
  .googlemap {
    background-color: red !important;
    height: 20rem;
    .googlemap-container {
      background-color: yellow !important;
      width: 100%;
    }
  }
}

// Other specifics
@media screen and (min-width: @tabletBreakpoint) {
  .client .googlemap {
    //width: calc(100% + 2rem);
  }
}
