.ui.sidebar.slide.along.inverted.vertical.accordion.menu.main-menu
  +Template.dynamic template=menu
.pusher
  +Template.dynamic template=header
  .full-height.fadeInUp
    .leftMenu.fadeInRight
      .ui.vertical.inverted.sticky.accordion.menu.main-menu
        +Template.dynamic template=menu
    .mainContent.fadeInLeft
      .ui.container
        +Template.dynamic template=main
