@import '../lib/semanticui/site/globals/site.variables.import.less';

@header-height: 54px;

.full-height {
  min-height: 100vh;
  max-width: 210px;
  background-color: @orange;
}

.leftMenu {
  width: inherit;
  margin-top: @header-height;
}

.mainContent {
  margin-top: @header-height;
}
