+Template.dynamic template=header
//- .pusher
.full-height.fadeInUp
  .leftMenu.fadeInRight
    .ui.vertical.inverted.orange.sticky.menu
      +Template.dynamic template=menu
  .mainContent.fadeInLeft
    .ui.container
      +Template.dynamic template=main
