@import '../lib/semanticui/site/globals/site.variables.import.less';

@header-height: 54px;
@menu-width: 210px;

.full-height {
  min-height: 100vh;
  width: 100%;
}

.leftMenu {
  display: inline-block;
  width: 100%;
  min-height: 100%;
  max-width: @menu-width;
  background-color: @orange;
}

.mainContent {
  padding-top: 1em;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: @header-height;
  left: 0;
  .ui.container {
    overflow-x: hidden;
    overflow-y: auto !important;
  }
}

@media only screen and (max-width: @largestMobileScreen) {
  .leftMenu {
    display: none !important;
  }
}

@media only screen and (min-width: @tabletBreakpoint) {
  .leftMenu {
    position: fixed;
    top: @header-height;
    left: 0;
  }
  .full-height, .leftMenu {
    min-height: ~"calc(100vh - "(@header-height)~")" !important;
  }
  .mainContent {
    max-width: ~"calc(100% - "(@menu-width + 28px)~")";
    left: @menu-width;
    margin-left: 1em;
  }
}
