.content
  unless isSessionSelected
    .fadeInUp
      h1.center-align.red-text
        i.medium.material-icons warning
      h2 Veuillez sélectionner une session
      .col.s12
        a.waves-effect.waves-light.btn-large(href="{{pathFor 'session'}}") Retour
  else
    .fadeInUp
      h3.left-align Session courante :
      +with sessionValue
        p.left-align=session
        p.left-align=conference
        p.left-align {{hours}}
        p.left-align Salle(s)
        each rooms
          p=this
      .col.s12
        a.waves-effect.waves-light.btn-large.scan Valider inscription
