+contentFor 'headerTitle'
  h1.title Congrès 2015 - FrontDesk

+ionView
  +ionContent
    p Templating
    h3 Photos
    button.button.icon-left.ion-image.button-full.button-balanced.photo Photo
    h3 QR code scanner
    button.button.icon-left.ion-ios-barcode.button-full.button-balanced.scan Scanner
