head
  title FrontDesk - Congrès 2015 - AVEF - SNVEL
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
body

template(name='home')
  h1 Crosswalk added!
  h2 With a remote DB
  h2 Yes, it works with hot code push
  h2 With foreign packages.
  h2 With Cordova plugins?
  h3 Step 1: MDG plugins
  button.button.button-balanced.photo Photo
  h3 Step 2: Cordova plugins? Plugin added
  button.button.button-balanced.scan Scanner
