head
  title Test
body

template(name='home')
  h1 Crosswalk added!
  h2 With a remote DB
  h2 Yes, it works with hot code push
  h2 With foreign packages.
  h2 With Cordova plugins?
  h3 Step 1
  button.photo Photo
