@import "{poetic:materialize-scss}/bower_components/materialize/sass/components/_color.scss";
$primary-color: color("purple", "darken-3");

// import main scss file
@import "{poetic:materialize-scss}/bower_components/materialize/sass/materialize.scss";

body, html {
  background: color("orange", "lighten-5");
  height: 100%;
}
.main-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: color("orange", "lighten-5");
  nav {
    flex-grow: 0;
    flex-shrink: 0;
  }
  main {
    flex-grow: 1;
    flex-shrink: 0;
    background: color("orange", "lighten-3");
    color: $primary-color;
  }
  footer {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

// Sidebar menu
ul#slide-out.side-nav {
  background: $primary-color;
  color: white;
  li a {
    color: white;
  }
}

// Simple animation transitions
$defaultDuration: .3s;
$defaultEasing: ease-in-out;
.fadeIn { animation: fadeIn $defaultDuration $defaultEasing; }
.fadeInUp { animation: fadeInUp $defaultDuration $defaultEasing; }
.fadeInDown { animation: fadeInDown $defaultDuration $defaultEasing; }
