// Sidebar
ul#slide-out.side-nav
  li: a.text-white(class="{{isActiveRoute 'home'}}", href="{{pathFor 'home'}}")
    i.fa.fa-lock.fa-lg.orange-text
    span Connexion
  li: a.text-white(class="{{isActiveRoute 'session'}}", href="{{pathFor 'session'}}")
    i.fa.fa-calendar.fa-lg.orange-text
    span Session
  li: a.text-white(class="{{isActiveRoute 'checkin'}}", href="{{pathFor 'checkin'}}")
    i.fa.fa-tag.fa-lg.orange-text
    span Enregistrement
// Main content
.main-content.orange.lighten-3
  // Upper bar
  nav(role='navigation').fadeInDown.purple.darken-3
    .nav-wrapper.container
      a#logo-container.brand-logo(href='#') Congrès 2015
      ul.right.hide-on-med-and-down
      a.button-collapse(href='#', data-activates='slide-out')
        i.material-icons menu
  // Content for each page
  main.container
    .section
      .row
        .col.s12.center.orange.lighten-3
          +yield
  // Footer
  footer.page-footer.orange.fadeInUp
    .container
      .row
        .col.s12
          h6.white-text Congrès 2015 - AVEF - SNVEL
    .footer-copyright
      .container
        | Créer par
        a.orange-text.text-darken-4(href='http://pem-musing.blogspot.fr/') Pierre-Eric Marchandet
