.content.session-content.center.align.fadeInUp
  .col.s12
    .preloader-wrapper.big.active
      .spinner-layer.spinner-blue
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
      .spinner-layer.spinner-red
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
      .spinner-layer.spinner-yellow
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
      .spinner-layer.spinner-green
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle

//.content.left-align.fadeInUp
  h3 Sélectionner une session
  p Vous validez les entrées pour la session :
  .input-field.col.s12
    select
      option(value='', selected) Sélectionner une journée
  .input-field.col.s12
    select
      option(value='', selected) Sélectionner un horraire
  .input-field.col.s12
    select
      option(value='', selected) Sélectionner une session
