+loaderContent
//.content.left-align.fadeInUp
  h3 Sélectionner une session
  p Vous validez les entrées pour la session :
  .input-field.col.s12
    select
      option(value='', selected) Sélectionner une journée
  .input-field.col.s12
    select
      option(value='', selected) Sélectionner un horraire
  .input-field.col.s12
    select
      option(value='', selected) Sélectionner une session
