// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Menu for the client
nav.client {
  width: 100%
  height: 2 * @h1;

  // Link in menu don't have animated underline
  a, a:visited { &::after { display: none; } }

  // Logos
  .brand {
    a, a:visited {
      // position: relative;
      // display: inline-block;
      // width: 49%;
      img {
        // position: absolute;
        // top: -1.5rem;
        // left: 0;
        width: 6rem;
        transform: scale3d(1, 1, 1);
        transition: transform @defaultDuration @defaultEasing;
        &:hover {
          transform: scale3d(1.05, 1.05, 1);
        }
      }
    }
  }

  // Hamburger menu
  .hamburger {
    // @TODO Set this in app style
    color: @orange;
  }

  // Computer specifics
  @media screen and (min-width: @computerBreakpoint) {
    // Remove hamburger button as the aside menu is always displayed
    .hamburger { display: none !important; }
  }
}
