// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');
// Share themes variables
@import (reference) url('/packages/client-sharedstyles/client-sharedstyles.less');

div.client.subscription {
  flex-grow: 1;
  flex-shrink: 0;

  // Entrance animation
  opacity: 0;
  animation: fadeInUp @defaultDuration @defaultEasing forwards;
  .ui.steps .step .content .description { text-align: left; }
  section:last-of-type {
    margin-bottom: 1.5rem;
  }

  // Icons in completed steps
  div.ui.steps .step.completed > .icon:before, .ui.ordered.steps .step.completed:before {
    font-family: 'FontAwesome';
    content: '\f00c';
  }

  div.ui.icon.message.step2 {
    i.fa.fa-hourglass-half {
      margin-left: .25em;
      margin-right: .75em;
      animation: hourglass 5s ease-in-out infinite;
    }
  }

  .inner-step {
    // Entrance animation
    opacity: 0;
    animation: fadeInLeft @defaultDuration @defaultEasing forwards;
  }

  .paymentByCheck, address {
    margin-bottom: 1rem !important;
  }

  address {
    text-align: center;
    font-size: 120%;
  }

  // Mobile specifics
  @media screen and (max-width: @largestMobileScreen) {
    .ui.steps {
      .step .content {
        .title, .description {
          text-align: center;
        }
      }
      .completed.step, .disabled.step { display: none; }
    }
  }

  // Other specifics
  @media screen and (min-width: @tabletBreakpoint) {
    .paymentByCard {
      margin-bottom: 1rem !important;
    }
  }
}
