a.item(href="{{pathFor '/dashboard/settings'}}")
  i.fa.fa-gears
  span Réglages
.item.menu
  .active.title
    i.fa.fa-database
    span Collections
    i.dropdown.icon
  .active.content.menu
    +each collections
      +menuCollectionItem item=this
a.item(href="{{pathFor '/dashboard/printing'}}")
  i.fa.fa-qrcode
  span Impressions
//- a.item(href="{{pathFor '/dashboard/monitor'}}")
//-   i.fa.fa-heartbeat
//-   span Statut système
