a.item
  i.fa.fa-gears
  span Réglages
.item.menu
  .active.title
    i.fa.fa-database
    span Collections
    i.dropdown.icon
  .active.content.menu
    +each collections
      +menuCollectionItem item=this
a.item 
  i.fa.fa-heartbeat
  span Statut système
