a.item
  i.fa.fa-gears
  span Réglages
.item.menu
  a.active.title
    i.fa.fa-database
    span Collections
  .active.content.menu
    +each collections
      .item
        span=name
a.item 
  i.fa.fa-heartbeat
  span Statut système
