a.item
  i.fa.fa-gears
  span Réglages
.item.menu
  a.active.title
    i.fa.fa-database
    span Collections
  .active.content.menu
    .item
      span Title 1
    .item
      span Title 2
    .item
      span Title 3
a.item 
  i.fa.fa-heartbeat
  span Statut système
