footer.client.row
  .sixteen.wide.column
    .footer-grid.ui.centered.stackable.grid.container
      .four.wide.computer.only.column
      .basicpages-links.center.aligned.twelve.wide.tablet.height.wide.computer.column
        ul.ui.horizontal.divided.list.readability-black
          li.item
            a.animated(href='#') Mentions légales
          li.item
            a.animated(href='#') Confidentialité
          li.item
            a.animated(href='#') Conditions générales de ventes
      #social-links.right.aligned.four.wide.column
        ul.ui.horizontal.divided.list.readability-black
          li.item
            a(href='#')
              i.fa.fa-facebook
          li.item
            a(href='#')
              i.fa.fa-twitter
          li.item
            a(href='#')
              i.fa.fa-envelope
