.ui.centered.grid.container(style='height: 500px;')
  .sixteen.column.row
    .hamburger.column
      h1
        i.fa.fa-bars(data-content='Hamburger menu')
    aside.client.ui.vertical.menu
      i.fa.fa-close.close.fa-2x
      a(href='#').item
        i.fa.fa-user
        | Connexion
      a(href='#').item
        i.fa.fa-unlock
        | Déconnexion
      a(href='#').active.item
        i.fa.fa-home
        | Accueil
      a(href='#').item
        i.fa.fa-bullhorn
        | Présentation
      a(href='#').item
        i.fa.fa-calendar
        | Programme
      a(href='#').item
        i.fa.fa-ticket
        | Inscriptions
      a(href='#').item
        i.fa.fa-thumbs-o-up
        | Partenaires &amp; exposants
