.ui.centered.grid.container
  .red.sixteen.column.row
    .hamburger.right.aligned.column
      .ui.inline.dropdown
        h1
          i.fa.fa-bars
        .ui.vertical.menu
          a.active.item Accueil
          a.item Présentation
          a.item Programme
          a.item Partenaires &amp; exposants
          a.item Inscriptions
          a.green.item Connexion
