// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Footer for the client
footer.client {

  // Remove default bullet
  ul {
    list-style-type: none !important;
    li::before {
      display: none;
    }
  }

  // Basic pages links
  .basicpages-links {
    text-align: center !important;
    ul, li {
      text-align: inherit;
    }
  }

  // Social links
  .social-links {
    text-align: right !important;
    ul, li {
      text-align: inherit;
    }
  }

  // Mobile specifics
  @media screen and (max-width: @tabletBreakpoint) {
    // Remove spacer
    .footer-spacer {
      display: none !important;
    }
    // Center social links
    .social-links {
      text-align: center !important;
      ul, li {
        text-align: inherit;
      }
    }
  }

  // Link sizes
  a, a:visited {
    // Reduce the overal font-size
    font-size: 90% !important;
  }
}
