// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Footer for the client
footer.client {
  // Adjust sizes
  padding-top: 1rem;
  padding-bottom: .5rem;
  .footer-grid {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  // Entrance animation
  animation: fadeInUp @defaultDuration @defaultEasing;

  // Reduce the overal font-size
  a, a:visited { font-size: 90%; }

  // Remove default bullets
  ul {
    list-style-type: none;
    li::before { display: none; }
  }

  // Mobile specifics
  @media screen and (max-width: @largestMobileScreen) {
    // Reduce margin for making the footer as small as possible
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    // Center social links
    #social-links {
      margin-top: -2rem !important;
      text-align: center !important;
      ul, li { text-align: inherit; }
    }
  }

  // Tablet specifics
  @media screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {
    // Center social links
    .basicpages-links {
      text-align: left !important;
      ul, li { text-align: inherit; }
    }
  }
}
