unless Template.subscriptionsReady
  .fadeIn
    +spinner
else
  .fadeIn
    if dataAvailable
      //+autoForm id='collectionItemUpdate' doc=data schema=schema type='method-update' meteormethod='dictionaryUpdate'
        +afQuickFields
        button.ui.button.purple(type='submit') Mettre à jour
