unless Template.subscriptionsReady
  .fadeIn
    +spinner
else
  if dataAvailable
    .fadeIn
      +autoForm id='collectionItemInsertOrUpdate' doc=document schema=schema type='normal'
        +afQuickFields
        +formCancelSubmitButtons
  else
    .fadeIn
      +spinner
