unless Template.subscriptionsReady
  .fadeIn
    +spinner
else
  if dataAvailable
    .fadeIn
      +autoForm id='collectionItemUpdate' doc=document schema=schema type='method-update' meteormethod='dictionaryUpdate'
        +afQuickFields
        button.ui.button.purple(type='submit') Mettre à jour
  else
    .fadeIn
      +spinner
