unless Template.subscriptionsReady
  .fadeIn
    +spinner
else
  if dataAvailable
    .fadeIn
      +autoForm id='collectionItemUpdate' doc=document schema=schema type='method-update' meteormethod='dictionaryUpdate'
        +afQuickFields
        +formCancelSubmitButtons
  else
    .fadeIn
      +spinner
