unless Template.subscriptionsReady
  .fadeIn
    +spinner
else
  .fadeIn
    .ui.grid
      .row
        .four.wide.column
          .importers(class=classDisabled)
            button.ui.labeled.icon.violet.button.file
              i.cloud.icon
              | Sélectionner un fichier
            input.file(type='file', accept='.csv,text/csv')
        .twelve.wide.column
          .ui.grey.progress.file-upload
            .bar
              .progress 0%
            .label Chargement du fichier
      .row
        .sixteen.wide.column
          .ui.grey.progress.user-insertion
            .bar
              .progress 0%
            .label Insertion des inscriptions
    .ui.divider
    p Zone d'import :
    .importers(class=classDisabled)
      #dropzone.dropzone Déposez votre fichier ici.
    .ui.divider
    .ui.error.message
      .header Erreurs de parsing
      ul.content
