.client.cookie
  .ui.grid.container
    .row
      .sixteen.wide.column
        .ui.centered.grid.container
          .row
            .one.wide.column
              i.fa.fa-bullhorn.fa-lg.red
            .fifteen.wide.column
              .rom
                span En poursuivant votre navigation sur ce site, vous acceptez l'utilisation des cookies pour vous proposer des services et offres adaptés. 
              .row
                button.ui.green.tiny.button
                  .visible.content
                    i.fa.fa-check
                    | J'ai compris
                a.animated(href='/cookie') En savoir plus...
  
.client.menu.ui.fixed
  +MainMenu
.main-layout
  .client.main-content.ui.grid
    +MainContent
  +MainFooter
