head
  title Integration test project
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='mobile-web-app-capable', content='yes')

body
  .ui.grid.main-layout
    nav.client.row
      .green.sixteen.wide.column
        .ui.centered.stackable.grid.container
          .olive.sixteen.wide.column
            h1.ui.header Menu
    section.client.row
      .pink.sixteen.wide.column
        .ui.centered.stackable.grid.container
          .violet.sixteen.wide.column
            h1.ui.header Contenu
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dolor autem voluptates consequatur, deserunt ipsa accusamus eum, facilis commodi aliquam corporis vel inventore illo animi fugit delectus, consectetur explicabo molestias.
    section.client.row
      .brown.sixteen.wide.column
        .ui.centered.stackable.grid.container
          .black.sixteen.wide.column
            h1.ui.header Contenu
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dolor autem voluptates consequatur, deserunt ipsa accusamus eum, facilis commodi aliquam corporis vel inventore illo animi fugit delectus, consectetur explicabo molestias.

    footer.client.lightOrange.row
      .sixteen.wide.column
        .ui.centered.stackable.grid.container
          .footer-spacer.four.wide.column
          .basicpages-links.height.wide.column
            ul.ui.horizontal.divided.list
              li.item
                a(href='#') Mentions légales
              li.item
                a(href='#') Confidentialité
              li.item
                a(href='#') Conditions générales de ventes
          .social-links.four.wide.column
            ul.ui.horizontal.divided.list
              li.item
                a(href='#')
                  .i.fa.fa-facebook.fa-lg
              li.item
                a(href='#')
                  .i.fa.fa-twitter.fa-lg
              li.item
                a(href='#')
                  .i.fa.fa-envelope.fa-lg
