head
  title Integration test project

body
  .ui.grid
    .row
      .sixteen.wide.green.column
        .ui.centered.container
          div(style='background: red; width: 100%;') Menu
    .row
      .pink.four.wide.column
        .ui.centered.container(style='background: violet;') Contenu
    .row
      .orange.sixteen.wide.column
        .ui.centered.grid.container(style='background: brown;')
          .Footer
    
        
