section.client.presentation.row
  a.sixteen.wide.column(href='#')
    .ui.centered.stackable.grid.container
      .intro.row
        .height.wide.mobile.only.six.wide.tablet.only.six.wide.computer.only.column
          h1 Présentation
        .green.height.wide.mobile.only.four.wide.tablet.only.four.wide.computer.only.column
          img.dock-de-paris(src='img/dock_de_paris.svg', alt='Dock de Paris')
        .six.wide.column.tablet.only.computer.only
section.client.program.row
  a.sixteen.wide.column(href='#')
    .ui.centered.stackable.grid.container
      .intro.row
        .sixteen.wide.column
          h1 Programme
          .timeline
            img.svg(src='img/program.svg', alt='Déroulement du congrès')
section.client.subscription.row
  a.sixteen.wide.column(href='#')
    .ui.centered.stackable.grid.container
      .intro.row
        .sixteen.wide.column
          h1 Inscriptions
          .subscription-types
            .subscription-type
              img.svg(src='img/subscription_session.svg', alt='31 sessions')
            .subscription-type
              img.svg(src='img/subscription_round_table.svg', alt='3 tables rondes')
            .subscription-type
              img.svg(src='img/subscription_workshop.svg', alt='21 ateliers')
section.client.partners.row
  a.sixteen.wide.column(href='#')
    .ui.centered.stackable.grid.container
      .intro.row
        .sixteen.wide.column
          h1 Partenaires &amp; exposants
          .logo(href='http://www.avef.fr', target='_blank')
            img.svg(src='img/avef.svg', alt='AVEF')
          .logo(href='http://www.snvel.fr', target='_blank')
            img.svg(src='img/snvel.svg', alt='SNVEL')
