nav.client.item
  .ui.centered.grid.container
    .row
      //.teal.congress-title.item
      .teal.congress-title.fourteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column
        h1
          a(href='/') CONGRES 2015
      //.pink.brand.item
      .pink.brand.seven.wide.tablet.only.height.wide.computer.only.column
        a(href='http://www.avef.fr', target='_blank')
          img(src='/img/avef.svg', alt='AVEF')
        a(href='http://www.snvel.fr', target='_blank')
          img(src='/img/snvel.svg', alt='SNVEL')    
      //.yellow.hamburger.item
      .yellow.hamburger.right.aligned.two.wide.mobile.one.wide.tablet.one.wide.computer.column
        h1
          i.fa.fa-bars
