nav.client.row
  .sixteen.wide.column
    .ui.centered.grid.container
      .congress-title.eight.wide.column
        h1.ui.header
          a(href='/') CONGRES AVEF/SNVEL 2015
      .brand.seven.wide.column
        a(href='http://www.avef.fr', target='_blank')
          img(src='/img/avef.svg', alt='AVEF')
        a(href='http://www.snvel.fr', target='_blank')
          img(src='/img/snvel.svg', alt='SNVEL')
      .one.wide.column
        .menu-button
          i.fa.fa-bars
