section.row.presentation
  a.green.sixteen.wide.column(href='#')
    .ui.centered.stackable.grid.container
      .row
        .transparent.six.wide.column
          h1 Programme
        .green.four.wide.column
          img(src='img/dock_de_paris.svg')
        .transparent.six.wide.column
section.row.program
  .brown.sixteen.wide.column
    .ui.centered.stackable.grid.container
      .row
        .black.sixteen.wide.column
          h1.ui.header Contenu
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus dolor autem voluptates consequatur, deserunt ipsa accusamus eum, facilis commodi aliquam corporis vel inventore illo animi fugit delectus, consectetur explicabo molestias.
