section.client.presentation.row
  a.sixteen.wide.column(href='#')
    .ui.centered.stackable.grid.container
      .row
        .six.wide.column
          h1 Présentation
        .green.four.wide.column
          img(src='img/dock_de_paris.svg')
        .transparent.six.wide.column
section.client.program.row
  a.sixteen.wide.column(href='#')
    .ui.centered.stackable.grid.container
      .row
        .sixteen.wide.column
          h1.ui.header Programme
section.client.subscription.row
  a.green.sixteen.wide.column(href='#')
    .ui.centered.stackable.grid.container
      .row
        .sixteen.wide.column
          h1.ui.header Inscriptions
section.client.partners.row
  a.sixteen.wide.column(href='#')
    .ui.centered.stackable.grid.container
      .row
        .sixteen.wide.column
          h1.ui.header Partenaires &amp; exposants
