nav.client.item
  .navgrid.ui.centered.grid.container
    .navitems.row
      .congress-title.fourteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column
        h1.readability-white
          a(href='/') CONGRES 2015
      .brand.seven.wide.tablet.only.seven.wide.computer.only.column
        a(href='http://www.avef.fr', target='_blank')
          img(src='/img/avef.svg', alt='AVEF')
        a(href='http://www.snvel.fr', target='_blank')
          img(src='/img/snvel.svg', alt='SNVEL')    
      .hamburger.right.aligned.two.wide.mobile.one.wide.tablet.one.wide.computer.column
        i.fa.fa-bars.readability-black
        aside.client.ui.vertical.menu
          i.fa.fa-close.close.fa-2x
          a(href='#').item
            i.fa.fa-user
            span.readability-black Connexion
          a(href='#').item
            i.fa.fa-unlock
            span.readability-black Déconnexion
          a(href='#').active.item
            i.fa.fa-home
            span.readability-black Accueil
          a(href='#').item
            i.fa.fa-bullhorn
            span.readability-black Présentation
          a(href='#').item
            i.fa.fa-calendar
            span.readability-black Programme
          a(href='#').item
            i.fa.fa-ticket
            span.readability-black Inscriptions
          a(href='#').item
            i.fa.fa-thumbs-o-up
            span.readability-black Partenaires &amp; exposants
