nav.client.row
  .sixteen.wide.column
    .ui.centered.grid.container
      .congress-title.fourteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column
        h1.ui.header
          a(href='/') CONGRES 2015
      .brand.seven.wide.tablet.only.height.wide.computer.only.column
        a(href='http://www.avef.fr', target='_blank')
          img(src='/img/avef.svg', alt='AVEF')
        a(href='http://www.snvel.fr', target='_blank')
          img(src='/img/snvel.svg', alt='SNVEL')
      .hamburger.right.aligned.two.wide.mobile.one.wide.tablet.one.wide.computer.column
        i.fa.fa-bars
