h1.ui.header Dashboard
p Cards avec liens vers collections
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
h1.ui.header Dashboard
p Cards avec liens vers collections
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
h1.ui.header Dashboard
p Cards avec liens vers collections
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
h1.ui.header Dashboard
p Cards avec liens vers collections
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
h1.ui.header Dashboard
p Cards avec liens vers collections
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatum velit accusamus quo reprehenderit voluptates ad repudiandae unde aliquid cumque. Deleniti ea nam officia, asperiores consectetur unde doloremque vel porro!

//+tabular table=table class='ui celled table'
