// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Footer for the client
footer.client {
  background-color: @lightOrange;
  // Link colors
  a, a:visited {
    // Adjust colors
    color: @veryLightOrange;
    &::after {
      background-color: @veryLightOrange;
    }
    &:hover {
      color: white;
      &::after { background-color: white; }
      &::before { background-color: @orange; }
    }
  }
}
