// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Client main content
// Mobile specifics
@media screen and (max-width: @largestMobileScreen) {
  body {
    background: @green linear-gradient(darken(@green,10%), @green);
    background-repeat: no-repeat;
    background-attachment: fixed;
    // Background image with delayed fade in animation
    &::before {
      content: '';
      position: fixed;
      top: 3.5rem;
      left: 0;
      width: 100%;
      height: calc(~'100vh - 3.5rem');
      opacity: 0;

      // Background image
      background-image: url('img/eiffel_tower_tablet.jpg');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      background-attachment: fixed;
      // Entrance animation with a 2s delay
      animation: fadeIn 1s 2s @defaultEasing forwards;
    }

  }
  .client.main-content {
    position: relative;

    // Colors for section separator
    >section {
      // Small separator
      &:not(:last-of-type) {
        &::after { background: @veryLightOrange; }
      }
    }
  }
}
