// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Mobile specifics
@media screen and (max-width: @largestMobileScreen) {
  .client.login {
    h1, h2, h3, h4, h5, h6, label, p, ul li, span {
      color: @veryLightOrange;
    }
  }
}

.client.login {
  .error {
    background-color: @red;
    h1, h2, h3, h4, h5, h6, label, p, ul li, span {
      color: @white;
    }
  }
}
