// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Presentation styles
section.client.presentation.row {
  // Background image
  background-image: url('img/presentation_background_widescreenMonitor.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  // Text colors
  h1, h2, h3, h4, h5, h6 { color: @veryLightOrange; }
}

// Mobile specifics
@media screen and (max-width: @largestMobileScreen) {
  section.client.presentation.row {
    background: none;
    .intro {
      div:nth-child(2) {
        background-color: transparent !important;
        text-align: right !important;
        img {
          margin-top: -3rem;
          width: 30%;
        }
      }
    }
  }
}

// Tablet specifics
@media screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {
  section.client.presentation.row { background-image: url('img/presentation_background_tablet.jpg'); }
}

// Computer specifics
@media screen and (min-width: @computerBreakpoint) and (max-width: @largestSmallMonitor) {
  section.client.presentation.row { background-image: url('img/presentation_background_computer.jpg'); }
}

// Large monitor specifics
@media screen and (min-width: @largeMonitorBreakpoint) and (max-width: @largestLargeMonitor) {
  section.client.presentation.row { background-image: url('img/presentation_background_largeMonitor.jpg'); }
}
