// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Presentation styles
section.client.presentation.row {
  // Background image
  background-image: url('img/presentation_background_computer.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  // Text colors
  h1, h2, h3, h4, h5, h6 {
    color: @veryLightOrange;
  }
}
