// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Presentation styles
section.client.presentation.row {
  background: none;

  // Text colors
  h1 {
    color: @veryLightOrange;
    text-shadow: 0 0 1px black;
  }
}

// Mobile specifics
@media screen and (max-width: @largestMobileScreen) {
  section.client.presentation.row {
    background: none;
    .intro {
      div:nth-child(2) {
        background-color: transparent !important;
        text-align: right !important;
        img {
          margin-top: -3rem;
          width: 30%;
        }
      }
    }
  }
}

// Not mobile screen resolutions
@media screen and (min-width: @tabletBreakpoint) {
  section.client.presentation.row, section.client.presentation.row .intro.row {
    // Ensure proper view height for background image
    height: 33vh;
    // Logo for the dock of Paris
    div { height: 33vh; }
    .green.column {
      position: relative;
      img {
        position: absolute;
        top: 50%;
        transform: translate3d(0, -50%, 0);
      }
    }
  }
  section.client.presentation.row {
    // Background image
    background-image: url('img/presentation_background_widescreenMonitor.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

// Tablet specifics
@media screen and (min-width: @tabletBreakpoint) and (max-width: @largestTabletScreen) {
  section.client.presentation.row { background-image: url('img/presentation_background_tablet.jpg'); }
}

// Computer specifics
@media screen and (min-width: @computerBreakpoint) and (max-width: @largestSmallMonitor) {
  section.client.presentation.row { background-image: url('img/presentation_background_computer.jpg'); }
}

// Large monitor specifics
@media screen and (min-width: @largeMonitorBreakpoint) and (max-width: @largestLargeMonitor) {
  section.client.presentation.row { background-image: url('img/presentation_background_largeMonitor.jpg'); }
}
