// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Program styles
section.client.program.row {
  background: none;
  // Text colors
  h1 {
    color: @veryLightOrange;
    text-shadow: 0 0 1px black;
  }
}

.client.program {
  // Mobile specifics
  @media screen and (max-width: @largestMobileScreen) {
    .item {
      border-top-color: fade(@veryLightOrange, 30%) !important;
    }
  }
}

// Not mobile screen resolutions
@media screen and (min-width: @tabletBreakpoint) {
  section.client.program.row {
    background: @veryLightOrange;
    h1 {
      color: @orange;
      text-shadow: 0 0 1px white;
    }
    .timeline {
      width: 100%;
      text-align: right;
      img { max-width: 60rem; }
    }
  }
}
