@import url('/client/lib/semanticui/site/globals/site.variables.import.less');
//@import url('../sharedStyles/spinkit-less/mixins/cube-grid.less');
//@import url('../sharedStyles/spinkit-less/mixins/double-bounce.less');
@import url('../sharedStyles/spinkit-less/mixins/three-bounce.import.less');

@spinner: spinner;
@spinner-margin: 0 auto;
@spinner-color: @orange;
@spinner-duration: 1.2s;

.@{spinner} {
  //.spinner-cube-grid();
  //.spinner-double-bounce();
  .spinner-three-bounce();
}
