// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Justify text content by default
p, div { text-align: justify; }

// Links with an animated underline on hovering
a.animated, a.animated:visited {
  font-weight: bold;
  transition: color @defaultDuration @defaultEasing;
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    bottom: -.5em;
    left: 0;
    width: 100%;
    background-color: @linkColor;
    height: 1px;
    transform: scale3d(0, 1, 1);
    transition: transform @defaultDuration @defaultEasing;
  }
  // Animated underline links
  &:hover { &::after { transform: scale3d(1, 1, 1); } }
}

// Hide animated underline links for social icons
#social-links {
  li {
    * { pointer-events: none; }
    a, a:visited {
      pointer-events: auto;
      position: relative;
      display: inline-block;
      transition: color @defaultDuration @defaultEasing;
      z-index: 1;
      width: 1.4rem !important;
      height: 1.4rem !important;
      text-align: center !important;
      // Increase icon's size slightly
      i { font-size: 1.2rem; }
      // Remove animated underline
      &::after { display: none; }
      // Add a circle animation
      &::before {
        content: '';
        position: absolute;
        top: -.35rem;
        left: -.3rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        z-index: -1;
        opacity: .0001;
        transform: scale3d(.0001, .0001, .0001);
        transition: opacity @defaultDuration @defaultEasing,
                    transform @defaultDuration @defaultEasing;
      }
    }
    &:hover {
      a, a:visited {
        &::before {
          opacity: .9999;
          transform: scale3d(.9999, .9999, .9999);
        }
      }
    }
  }
}

// Animations
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
