// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Subscription styles
section.client.subscription.row {
  background: none;
  // Text colors
  h1 {
    color: @veryLightOrange;
    text-shadow: 0 0 1px black;
  }
  // Infography on landing page
  .subscription-types {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    .subscription-type {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 33.3%;
      img { max-height: 5rem; }
      &:first-of-type {
        flex-grow: 0;
      }
      &:last-of-type {
        flex-grow: 0;
      }
    }
  }
}

.client.subscription {
  .ui.steps .active.step {
    background-color: @veryLightOrange;
    &::after { background-color: @veryLightOrange; }
    i.icon.fa::before { color: @orange !important; }
  }
  .ui.attached.segment {
    border-top: 1px solid fade(@orange, 30%) !important;
  }
}

// Mobile specifics
@media screen and (max-width: @largestMobileScreen) {
  .client.subscription {
    .ui.message span { color: @veryLightOrange; }
    .ui.attached.segment {
      background-color: white !important;
      * {
        color: @green !important;
      }
    }
  }
}

// Not mobile screen resolutions
@media screen and (min-width: @tabletBreakpoint) {
  section.client.subscription.row { background: @green; }
}
