unless Template.subscriptionsReady
  .fadeIn
    +spinner
else
  .fadeIn.printing-content
    h2.header Impressions des planches de badges
    a.ui.labeled.button(href='#').print
      .ui.violet.button
        i.print.icon
        |  Badges
      a.ui.basic.violet.left.pointing.label
        | {{usersCount}}
    .ui.divider
    p Prévisualisation :
    .print-container
      .side.left
        p.text-centered.lastName=lastName
        p.text-centered.firstName=firstName
        p.text-centered.city=city
      .side.right
        .qr-code-container
