unless Template.subscriptionsReady
  .fadeIn
    +spinner
else
  .fadeIn
    +autoForm id='dictionaryUpdate' doc=data schema='SD.Structure.dictionary.schema' type='method-update' meteormethod='dictionaryUpdate'
      +afQuickFields
      +formCancelSubmitButtons
