.ui.fixed.inverted.orange.menu.fadeInDown
  a.icon.item.menu-toggle
    i.fa.fa-bars
  a.header.item(href='/dashboard')
    img.ui.avatar.circular.image(src='apple-touch-icon.png')
    span Congrès 2015
  .right.inverted.orange.menu
    .ui.dropdown.item
      i.fa.fa-user
      span=email
      i.dropdown.icon
      .inverted.orange.menu
        a.item.exit(href='#')
          i.fa.fa-sign-out
          span Déconnexion
