.main-header.ui.fixed.inverted.menu.fadeInDown
  a.icon.item.menu-toggle
    i.fa.fa-bars
  a.brand.header.item(href='/dashboard')
    img.ui.avatar.circular.image(src='/apple-touch-icon.png')
    span Congrès 2015
  .item.main-title
    h3.ui.header Dashboard
  .right.inverted.menu
    .ui.dropdown.item
      i.fa.fa-user
      span=email
      i.dropdown.icon
      .inverted.menu
        a.item.exit(href='#')
          i.fa.fa-sign-out
          span Déconnexion
