@import '../../lib/semanticui/site/globals/site.variables.import.less';

.main-title {
  .ui.header {
    text-overflow: ellipsis;
    color: white !important;
  }
}

@media only screen and (min-width: @tabletBreakpoint) {
  a.icon.item.menu-toggle {
    display: none !important;
  }
}
