// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');
// Share themes variables
@import (reference) url('/packages/client-sharedstyles/client-sharedstyles.less');

.client.login {
  // Entrance animation
  opacity: 0;
  animation: fadeInUp @defaultDuration @defaultEasing forwards;

  // Center login screen
  .row {
    flex-grow: 1;
    >.column {
      align-items: stretch;
    }
  }
}
