// Semantic UI variables
@import url('/client/lib/semanticui/site/globals/site.variables.import.less');

// Main layout
.main-layout {
  // Spacing for the menu
  padding: 3.6rem 0 0 0 !important;
  margin: 0 !important;
  min-height: 100vh;

  // Make the main-layouit stt take the whole page height
  display: flex;
  flex-direction: column;
  >.main-content.ui.grid, >footer.client {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1;
  }
  >.main-content.ui.grid {
    max-width: 100vw;
    margin: 0 !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    >section {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 1;
      &:last-of-type {
        flex-grow: 1;
      }
    }
  }

  // Mobile specifics
  @media screen and (max-width: @tabletBreakpoint) {
    >.main-content {
      // Remove unecessary padding when stacked
      .grid, .row, .column {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      >.row .column .grid {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      // Each section for mobile has an iso height, a small separator
      // and an animation entrance
      >section {
        // Section's size
        flex-grow: 1 !important;
        flex-shrink: 1 !important;
        // Entrance animation
        opacity: 0;
        animation: fadeInRight @defaultDuration @defaultEasing forwards;
        &:nth-of-type(2) {
          animation-delay: @defaultDuration;
          animation-name: fadeInLeft;
        }
        &:nth-of-type(3) { animation-delay: 2 * @defaultDuration; }
        &:nth-of-type(4) {
          animation-delay: 3 * @defaultDuration;
          animation-name: fadeInLeft;
        }
        // Small separator
        &:not(:last-of-type) {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 10%;
            width: 80%;
            height: 1px;
            background: @veryLightOrange;
          }
        }
      }
    }
  }
}
